{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="title">Contact communication view</h1>

        {# Phone number hardcoded for now #}
        {{ render(controller('AppBundle:PhoneNumber:show', { number: '611222333' })) }}
    </div>
{% endblock %}